*.log
.husky
/.alexignore
/.alexrc.yml
/.clang-format
/.clang-format-ignore
/.clang-tidy
/.clang-tidy-ignore
/.clang-tidy-flag
/.clang-tidy-include
/.clang-tidy-macro
/.codespellrc
/.commitlintrc.js
/.cppcheck-suppressions
/.dockerfilelintrc
/.editorconfig
/.golangci-licenses
/.golangci.yml
/.licensecheck-check
/.licensecheck-ignore
/.markdown-link-check.json
/.markdownlint.json
/.markdownlintignore
/.prettierignore
/.prettierrc.json
/.remarkignore
/.remarkrc.json
/.shellcheckrc
/.spelling
/.valgrindrc
/.yamllint.yml
/CPPLINT.cfg